.board {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transform: none !important;
  filter: none !important;
  transform-style: flat;
  display: flex;
  align-items: center;
  justify-content: center;

  span[style*="color"] {
    color: inherit !important;
  }
}

.board .chess-icon {
  width: 100%;
  height: 100%;
  object-fit: none;
}
img.chess-icon {
  width: 30px !important;
  height: 38px !important;
  object-fit: contain !important; // Ensures the SVG doesn't stretch weirdly
  pointer-events: none; // Prevents ghosting during drag if not handled
}

@media (max-width: 1024px) {
  .board .chess-icon,
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .board .chess-icon,
  img {
    width: 100%;
    height: 100%;
  }
}
