.board {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  transform: none !important;
  filter: none !important;
  transform-style: flat;
  display: flex;
  align-items: center;
  justify-content: center;

  span[style*="color"] {
    color: inherit !important;
  }
}



.board .chess-icon {
  height: 100%;
  display: block !important;
  object-fit: contain !important;
  pointer-events: none;
  padding: 8px;
}

[data-piece] {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 1024px) {
  .board .chess-icon,
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .board .chess-icon,
  img {
    width: 100%;
    height: 100%;
  }
}
