.chessboard .dark-square {
  background-color: #769656 !important;
}

.chessboard .light-square {
  background-color: #eeeed2 !important;
}

/* [id^="chessboard-piece"],
[data-piece],
#chessboard svg {
  display: none !important;
} */
