[id^="chessboard-square-"] {
  background-image: none !important;
}

[id^="chessboard-square-"][data-square-color="light"] {
  background-color: #eeeed2 !important;
}

[id^="chessboard-square-"][data-square-color="dark"] {
  background-color: #769656 !important;
}


/* [id^="chessboard-piece"],
[data-piece],
#chessboard svg {
  display: none !important;
} */

#chessboard span {
  color: #829769 !important;
  opacity: 0.8;
}
