.cm_board_outer {
  width: 294px;
  flex-shrink: 0;
  border: 8px solid #eedda6;
  border-radius: 14px;
  position: relative;

  .cm_board {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transform: none !important;
    filter: none !important;
    transform-style: flat;

    img {
      width: 33px;
      height: 33px;
    }
    .chess_icon {
      width: 33px;
      height: 33px;
    }

    @media (max-width: 1024px) {
      .chess_icon,
      img {
        width: 16px;
        height: 20px;
      }
    }

    @media (max-width: 480px) {
      .chess_icon,
      img {
        width: 12px;
        height: 16px;
      }
    }
  }

  #chessboard-board {
    grid-template-columns: repeat(8, 57.75px) !important;
  }
  [id^="chessboard-square-"] > div {
    height: auto !important;
    width: auto !important;
  }
}

@media (max-width: 1024px) {
  .cm_board_outer {
    width: 340px;

    #chessboard-board {
      grid-template-columns: repeat(8, 42.5px) !important;
    }
  }
}

@media (max-width: 600px) {
  .cm_board_outer {
    width: 280px;

    #chessboard-board {
      grid-template-columns: repeat(8, 35px) !important;
    }
  }
}
