.cm_board_outer {
  width: min(100%, 600px);
  flex-shrink: 0;
  border: 8px solid #eedda6;
  border-radius: 14px;
  position: relative;

  .cm_board {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transform: none !important;
    filter: none !important;
    transform-style: flat;

    img,
    .chess_icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
