@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #1c1c1c;
  --nav_border: rgba(255, 255, 255, 0.07);
  --gold: #d0c49f;
  --gold_hover: #e8ce8c;
  --cream: #f0e8d0;
  --muted: #a39589;
  --text: #f5f1e8;
  --sq_light: #f0d9b5;
  --sq_dark: #b58863;
  --code-g: #f4f3ec;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --font_main: "Barlow", sans-serif;
  --font_heading: 'Playfair Display', serif;
  --font_arial: "Noto Sans Symbols 2", sans-serif;

  font-size: 16px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
