@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100..900&display=swap");

@import "./assets/css/repeated.css";

@import "tailwindcss";

@theme {
  --font-sans: var(--font-main);
  --font-barlow: var(--font-main);
  --font-playfair: var(--font-heading);

  --color-gold: #e5cc7a;
  --color-gold-hover: #e8ce8c;
  --color-cream: #f0e8d0;
  --color-app-bg: #1c1c1c;
  --color-head: #d4af37;
  --color-text: #f5f1e8;
  --color-mute: #a39589;
}

:root,
html[data-lang="en"] {
  --font-main: "Barlow", sans-serif;
  --font-heading: "Playfair Display", serif;
}

html[data-lang="ru"] {
  --font-main: "Noto Sans", sans-serif;
  --font-heading: "Noto Sans", sans-serif;
}

html[data-lang="am"] {
  --font-main: "Noto Sans Armenian", sans-serif;
  --font-heading: "Noto Sans Armenian", sans-serif;
}

:root,
[data-theme="light"] {
  --bg: #ffffff;
  --bg-line: linear-gradient(
    180deg,
    #da7756 0%,
    #d77554 8.33%,
    #d47251 16.67%,
    #d1704f 25%,
    #cf6e4d 33.33%,
    #cc6c4a 41.67%,
    #c96948 50%,
    #c66746 58.33%,
    #c36543 66.67%,
    #c06341 75%,
    #be603f 83.33%,
    #bb5e3c 91.67%,
    #b85c3a 100%
  );
  --foreground: #f5f1e8;
  --card: #1e293b;
  --border: #334155;
  --text: #1c1c1c;
  --text-h: #f5f1e8;
  --bodyBg: #F9F6F3FF;
  --nav_border: rgba(255, 255, 255, 0.07);
  --gold: #da7756;
  --gold_hover: #e8ce8c;
  color-scheme: dark;
}

[data-theme="dark"] {
  --text-h: #08060d;
  --bg: #1c1c1c;
  --bodyBg: #1c1c1c;
  --bg-line: linear-gradient(180deg, #e5cc7a 0%, #f4e09e 100%);
  --nav_border: rgba(255, 255, 255, 0.07);
  --gold: #e5cc7a;
  --gold_hover: #e8ce8c;
  --cream: #f0e8d0;
  --muted: #a39589;
  --text: #f5f1e8;
  --sq_light: #f0d9b5;
  --sq_dark: #b58863;
  --code-g: #f4f3ec;
  --head: #d4af37;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --font-arial: "Noto Sans Symbols 2", sans-serif;
}

html,
body,
#root {
  font-size: 16px;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-barlow,
[class*="font-barlow"] {
  font-family: var(--font-main) !important;
}

.font-playfair,
[class*="font-playfair"] {
  font-family: var(--font-heading) !important;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
