.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--bg); 
}

.main-content {
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: calc(100vh - 110px);
  position: relative;
  margin-top: 90px;
  overflow: hidden;
}
